.row{
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.column{
    padding: 1rem;
}
.block{
    margin: auto;
    width: 90%;
    padding: 10px;
}
.sousblock{
    margin: 65px;
}


